:root {
    font-size: 1em;
}

.box {
    background: transparent;
    backdrop-filter: blur(10px);
}

body {
    height: 100vh;
    background-image: url('../src/assets/3425081.jpg');
    background-size: cover;
    background-position: center;
}

.display-linebreak {
    white-space: pre-line;
}

textarea.no-resize {
    resize: none;
}

div.darkgrey {
    color: darkgray;
}